.max{
    max-width: 540px;
}

#padre {
    height:200px;
    border-color: black;
    border: 0.5px;
}
#hijo {
    position: absolute;
	top: 60%;
	left: 50%;
	height: 20%;
	width: 50%;
    margin: -15% 0 0 -25%;
    
}
  
 
